/* Write your CSS here */
.bgContainer {
  background-color: #ffc2a0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bgContainer1 {
  background-color: white;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  border-radius: 12px;
}
.heading {
  color: #ffc2a0;
  text-align: center;
}
